<link rel="stylesheet" href="/stylesheets/recipe.css" type="text/css">

<body>
{{> navbar}}

<div class="center">
    <div class="container" id="dish">
        <div class="left">
            <h2 class="background__color">{{recipe.name}}</h2>
            <div class="recipeDescription">
                <h5>Składniki: </h5>
                {{#each ingredient}}
                    <li>{{this.ing_name}}</li>
                {{/each}}
            </div>
        </div>

        <div class="right">
            <img src="https://cdn.aniagotuje.com/pictures/articles/2020/01/1968771-v-1500x1500.jpg"
                 class="img-thumbnail">
            <div id="rateRecipe">
                <h5 style="margin-bottom: 0;"> Oceń przepis!</h5>
                <div id="star-avg">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    {{#each rating}}
                        <h5> {{this.avg_rating}}</h5>
                    {{/each}}
                </div>

            </div>
        </div>

    </div>

    <div class="container">
        <h5>Wykonanie</h5>
        <div id="recipeDescription">
            {{recipe.description}}
        </div>
    </div>
    <div class="container left" >
        <h5>Komentarze</h5>
        <input>
        <button >Dodaj komentarz</button>
        {{#each comment}}
            <li> {{this.login}} : {{this.description}}</li>
        {{/each}}
    </div>
</div>
</body>

