<link rel="stylesheet" href="/stylesheets/userProfil.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/buttons.css" type="text/css">

<body>
{{> navbar}}

<div class="container">
    <div class="container">
        <div class="col-md-4 offset-1 background-color-top">
            <h2 class="background-color">Twój profil</h2>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-4">
                <div class="userData">
                    <img src="https://2.allegroimg.com/original/01e3c6/578eeb734ec9a6f9424d190a6012/CZAPKA-KAPELUSZ-STROJ-KUCHARZ-KUCHARKA-SZEF-KUCHNI"
                         class="img-box">
                </div>
            </div>

            <div class="col-sm-6 user-data" style="margin-top: 3rem;">
                <h5>Login {{login}}</h5>
                <h5>E-mail {{email}}</h5>
                <div id="user-data-view" style="margin-top: 4rem;">
                    <button id="edit-user-btn">Zmień haslo</button>
                </div>

                <div id="user-data-form" hidden>
                    <input id="userId" type="hidden" value={{session.userId}}>
                    <div class="row">
                        <div class="col-2">
                            <h5> Hasło</h5>
                        </div>
                        <div class="col-8">
                            <input type="password" id="password" name="password">
                        </div>
                    </div>
                    <div class="d-inline-flex buttons" style="margin-left: 6rem;">
                        <button class="button" id="save-profile-btn" type="submit"> Zapisz</button>
                        <button class="cancel" id="cancel-profile-btn" type="button" style="margin-left: 1rem;">
                            Anuluj
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 4rem;" class="container">
            <div>
                <h4 class="background-color-last" style="margin-bottom: 2rem;">Ostatnio ocenione przepisy</h4>
            </div>

            <section>
                <div class="container">
                    <div class="row">
                        {{#each lastRated}}

                            <div class="col-sm-4">
                                <a href=/recipes/{{this.id_recipe}}>
                                    <img src="/{{this.picture_path}}" class="img-box">
                                </a>
                                <a href=/recipes/{{this.id_recipe}}>
                                    <figcaption>{{this.name}}</figcaption>
                                </a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script src="/javascripts/editProfile.js"></script>
</body>

